body {
  background-image: url("./images/bg.jpg");
  background-size: cover;
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: "Birthstone", cursive;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  overflow: hidden;
}

.ephesis-regular {
  font-family: "Ephesis", cursive;
  font-weight: 400;
  font-style: normal;
}

#scoreDiv {
  display: flex;
  width: 220px;
  height: 450px;
  justify-content: center;
  font-size: 22px;
  flex-wrap: wrap;
  align-items: center;
  margin-top:200px;
  margin: auto;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  scale: 0.8;
  top: 42%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-image: linear-gradient(to top, rgb(159, 0, 233), rgb(229, 207, 255));
  border-radius: 200px 200px 200px 200px/200px 20px 200px;
  box-shadow: 0px 5px 10px rgb(34, 0, 50);
  border: solid 1px rgb(159, 0, 233);
  text-shadow: 2px 2px rgb(0, 5, 5);
}

.combo {
  position: absolute;
  top: 50%;
  left: 58%;
  scale: 1.5;
  transition: transform 0.1s ease-in-out;
  color: rgb(255, 255, 255);
  pointer-events: none;
  opacity: 0;
  z-index: 50;
}

.combo.hide {
  display: none;
}

#board {
  width: 430px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  background-image: radial-gradient(rgb(143, 182, 234), rgb(143, 182, 234));
  justify-content: center;
  align-items: center;
  border: solid 2px rgb(38, 96, 133);
  border-radius: 5px;
  position: absolute;
  top: 47%;
  left: 62%;
  transform: translate(-50%, -50%); 
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  z-index: 10;
  box-shadow: 2px 2px rgb(16, 28, 36);
}


#board.show {
  opacity: 1;
  pointer-events: auto;
  z-index: 20;
}

.buttons {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 350px;
  opacity: 1;
}

.title {
  width: 700px;
  height: 400px;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px rgb(31, 0, 24);
  font-size: 120px;
  position: absolute;
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
}

.title.hide {
  display: none;
}

.thanks {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 65%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease;
  font-size: 50px;
  color: rgb(255, 76, 195);
  text-shadow: 0px 0px 50px rgb(157, 0, 255);
}

.buttons.hide {
  display: none;
}

.backButton.hide {
  display: none;
}

#startButton {
  margin-bottom: 70px;
  font-size: 40px;
  padding: 0px 50px;
  background-image: linear-gradient(to top, rgb(139, 25, 192), rgb(229, 207, 255));
  color: rgb(255, 255, 255);
  font-family: "Birthstone", cursive;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  border-radius: 30px;
  text-align: center;
  opacity: 1;
  z-index: 20;
  border: 1px solid;
  border-color: rgb(107, 0, 91);
  box-shadow: 0px 2px rgb(34, 1, 31);
}

#startButton:hover {
  transform: scale(1.1);
}

#infoButton:hover {
  transform: scale(1.1);
}

.backButton:hover {
  transform: scale(1.1);
}

.scoreScale.scale {
  transform: scale(1.3);
}

.combo.scale {
  transform: scale(1.2);
}

.combo.translate {
  transform: translateX(40px);
}

#settingsButton:hover {
  transform: scale(1.1);
}

.textInfo {
  display: none;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, rgb(55, 57, 158), rgb(164, 165, 255));
  width: 380px;
  font-size: 17px;
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  opacity: 1;
  padding: 1px 20px;
  border: 1px solid;
  border-color: rgb(0, 68, 107);
  box-shadow: 0px 0px 20px rgb(53, 53, 81);
}


.settingsInfo {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, rgb(55, 57, 158), rgb(164, 165, 255));
  width: 380px;
  height: 150px;
  font-size: 15px;
  font-family: "Kavoon", serif;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  transition: opacity 0.2s ease;
  opacity: 1;
  padding: 1px 20px;
  border: 1px solid;
  border-color: rgb(0, 68, 107);
  box-shadow: 0px 0px 20px rgb(53, 53, 81);
}

.settingsInfo.hide {
  display: none;
}

.settingsInfo.show { 
  display: flex;
}

.textInfo.hide {
  display: none;
  pointer-events: none;
}

.textInfo.show {
  display: flex;
}

#infoButton {
  font-size: 30px;
  position: absolute;
  margin-top: 100px;
  margin-left: -200px;
  background-image: linear-gradient(to top, rgb(0, 104, 164), rgb(106, 255, 243));
  color: rgb(255, 255, 255);
  font-family: "Birthstone", cursive;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  border-radius: 25px;
  padding: 1px 40px;
  text-align: center;
  opacity: 1;
  border: 1px solid;
  border-color: rgb(0, 68, 107);
  box-shadow: 0px 2px 5px rgb(0, 6, 10);
}

.okButton {
  font-size: 30px;
  padding: 1px 40px;
  position: absolute;
  margin-top: 350px;
  background-image: linear-gradient(to top, rgb(0, 104, 164), rgb(106, 255, 243));
  color: rgb(255, 255, 255);
  font-family: "Birthstone", cursive;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  border-radius: 25px;
  text-align: center;
  opacity: 1;
  border: 1px solid;
  border-color: rgb(0, 68, 107);
  box-shadow: 0px 2px rgb(1, 23, 34);
}

.okButton:hover {
  transform: scale(1.1);
}

#settingsButton {
  font-size: 30px;
  position: absolute;
  margin-top: 100px;
  margin-left: 200px;
  background-image: linear-gradient(to top, rgb(0, 104, 164), rgb(106, 255, 243));
  color: rgb(255, 255, 255);
  font-family: "Birthstone", cursive;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  border-radius: 25px;
  padding: 1px 30px;
  text-align: center;
  opacity: 1;
  border: 1px solid;
  border-color: rgb(0, 68, 107);
  box-shadow: 0px 2px 5px rgb(0, 6, 10);
}

.backButton {
  font-size: 30px;
  padding: 1px 40px;
  position: absolute;
  margin-top: 350px;
  background-image: linear-gradient(to top, rgb(0, 104, 164), rgb(106, 255, 243));
  color: rgb(255, 255, 255);
  font-family: "Birthstone", cursive;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  border-radius: 25px;
  text-align: center;
  opacity: 1;
  border: 1px solid;
  border-color: rgb(0, 68, 107);
  box-shadow: 0px 2px rgb(1, 23, 34);
}

#board img {
  width: 46px;
  height: 40px;
  box-shadow: 2px 2px 10px rgb(0, 0, 0);
  border-radius: 10px;
}
